/* Globálne nastavenia */
body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(135deg, rgba(109, 190, 75, 2) 0%, rgba(239, 144, 57, 2) 56%, rgba(126, 199, 142, 2) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hlavička */
header {
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 a {
    color: #33f177;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

/* Formulár */
form {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 20px;
}

form input[type="file"],
form input[type="submit"],
form input[type="text"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #5e5e5e;
    background: #292929;
    color: white;
}

form input[type="submit"] {
    background: #33f177;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in;
}

form input[type="submit"]:hover {
    background: #28c567;
}

form input[type="text"]::placeholder,
form textarea::placeholder {
    color: #7e7e7e;
}

form textarea {
    resize: none;
    height: 100px;
}

form label {
    align-self: flex-start;
}

/* Odkaz späť */
a {
    color: #33f177;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

.logo-link {
    text-decoration: none;
}

.logo-link:hover {
    text-decoration: none;
}

.back-link {
    text-decoration: none; /
}

.back-link:hover {
    text-decoration: underline;
}